a {display:inline-block; width:100%; height:100%;}
b {font-weight:bold;}
header, main, .footer_wrap { width:1130px; margin:0 auto; }

/* banner */

.banner_wrap{
    height:50px;
    background-color:#f3f1ff;
}
.whale_banner{
    width:1130px; height:100%;
    margin:0 auto;
}
.whale_banner span{
    display:inline-block;
    vertical-align:top;
}
.whale{
    width:98px; height:21px;
    margin:14px 43px 0 0;
    background-image:url("https://static-whale.pstatic.net/main/sprite-20210713@2x.png");
    background-position:0 -21px;
    background-size:116px 112px;
    background-repeat:no-repeat;
}
.whale_img{ width:351px; height:50px; }
.whale_txt{ 
    font-size:16px; 
    line-height:50px; 
    margin-right:10px;
}
.whale_download{ 
    width:78px; height:29px;
    margin:9px 20px 9px 0;
    border-radius:15px;
    background-color:#7c56d5;
}
.whale_download a{
    color:#fff;
    line-height:30px;
    text-align:center;
    font-size:14px;
    font-weight: bold;
}
.banner_close{
    line-height:50px;
    font-size:14px;
    color:#999;
}
.ico_close{
    width:15px; height:16px;
    margin:16px 0 19px 10px;
    background-image: url("https://static-whale.pstatic.net/main/sprite-20210713@2x.png");
    background-size:116px 112px;
    background-position:-98px -18px;
}


/* header */
header {
    height:212px;
    background-color:lightgray;
}
.search {height:160px;}
.search div{ float:left; height:160px;}

/* speacial_logo */
.speacial_logo{ width:240px; }
.speacial_logo img{height:100%; margin-left:-90px;}

/* search_box */
.search_box_wrap {
    width:586px; 
    margin-right:40px;
    background-color:lightblue;
}

/* sub_nav */
.sub_nav{
    margin-top:20px;
}
.sub_nav li{
    float:left;
    font-size:14px;
}
.sub_nav li:first-child{
    height:26px; line-height:26px;
}
.test:after{
    background-color:red;
    width:26px; height:26px;
    /* background-image:url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_57f073.png");
    background-repeat:no-repeat;
    background-size:444px 439px;
    background-position:-373px -352px; */
}

/* main */



/* footer */